<!DOCTYPE html>
<html lang="zxx" class="theme-light">
    <%- include('../layouts/top-header') %>

<body data-spy="scroll" data-offset="70">

    <%- include('../layouts/header') %>

    <div id="about" class="get-introduced-area pt-30">
        <div class="container-fluid">
        <div class="row">
        <div class="col-lg-12 col-md-12">
        <div class="get-introduced-content">
        <h3>Registration for scheme participation</h3>
        <div class="row justify-content-center">
        <div class="col-lg-12 col-sm-12">
        <div class="introduced-inner-box">
       
       
       
        <form>
            <div class="form-group row">
                <label for="applicantName" class="col-sm-2 col-form-label"><strong>Name Of Applicant:</strong></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="applicantName" placeholder="Applicant name" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="schemeName" class="col-sm-2 col-form-label"><strong>Scheme Name:</strong></label>
                <div class="col-sm-10">
                    <p class="form-control-plaintext" id="schemeName">YAMUNA EXPRESSWAY INDUSTRIAL DEVELOPMENT AUTHORITY</p>
                </div>
            </div>
            <div class="form-group row">
                <label for="dates" class="col-sm-2 col-form-label"><strong>From Date - To Date:</strong></label>
                <div class="col-sm-10">
                    <p class="form-control-plaintext" id="dates">14/12/2023 - 29/03/2024</p>
                </div>
            </div>
            <div class="form-group row">
                <label for="registrationFee" class="col-sm-2 col-form-label"><strong>Registration Fee:</strong></label>
                <div class="col-sm-10">
                    <p class="form-control-plaintext" id="registrationFee">1250/- INR</p>
                </div>
            </div>
            <div class="form-group row">
                <label for="schemeDescription" class="col-sm-2 col-form-label"><strong>Scheme Description:</strong></label>
                <div class="col-sm-10">
                    <p class="form-control-plaintext" id="schemeDescription"><strong>Preface</strong></p>
                    <p class="form-control-plaintext" id="schemeDetails">
                        The scheme document is applicable for allotment of Industrial plots having areas up to 4000 sq mtrs. in the different Industrial Park located in Sector-28, 29, 32, 33 of Yamuna Expressway Industrial Development Authority (herein referred to as 'YEIDA' or 'Authority' or 'Lessor'). Applications are invited for allotment of plots in TOY Park, HANDICRAFT-ODOP WITH FURNITURE MANUFACTURING PARK & GENERAL INDUSTRY/MSMEs in Sector-28, 29, 32, 33 to establish such Industrial units.
                    </p>
                </div>
            </div>
            <p>To Download Brochure and get the complete detail about the scheme, You have complete the registration step with registration fee.</p>
            <button type="submit" class="btn btn-primary">Save & Proceed to Pay</button>
        </form>
            </div>
        </div>
        
        
        
        
        
        
        
        
       
       
       
       
       
       
       
       
        <div class="col-lg-6 col-sm-6">
        <div class="introduced-inner-box" style="background-color: #00c195;">
       
       
       
        </div>
        </div>
        </div>
        </div>
        </div>
        <!-- <div class="col-lg-6 col-md-12"> -->
        <!-- <div class="get-introduced-image"></div> -->
        <!-- </div> -->
        </div>
        </div>
       
        
</body>
<%- include('../layouts/footer') %>

</html>