<!DOCTYPE html>
<html lang="zxx" class="theme-light">
    <%- include('../layouts/top-header') %>
    <style>
        .status-btn {
            background-color: #28a745;
            color: white;
            border: none;
            padding: 5px 10px;
            border-radius: 5px;
        }
        .action-btn {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 5px 10px;
            border-radius: 5px;
        }
    </style>
<body data-spy="scroll" data-offset="70">

    <%- include('../layouts/header') %>

    <div id="about" class="get-introduced-area pt-30">
        <div class="container-fluid">
        <div class="row">
        <div class="col-lg-12 col-md-12">
        <div class="get-introduced-content">
        <h3>List Of Available scheme</h3>
        <div class="row justify-content-center">
        <div class="col-lg-12 col-sm-12">
        <div class="introduced-inner-box">
       
       
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Parent Scheme</th>
                        <th>Sub Scheme Name</th>
                        <th>From Date - To Date</th>
                        <th>Payment Plan</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>YAMUNA EXPRESSWAY INDUSTRIAL DEVELOPMENT AUTHORITY</td>
                        <td></td>
                        <td>14/12/2023 - 29/03/2024</td>
                        <td>
                            <div>Registration Fee: 1250/- INR</div>
                        </td>
                        <td>
                            <button class="status-btn">Application Registration Done</button>
                        </td>
                        <td>
                            <button class="action-btn">Download Brochure</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
        
        
        
        
        
        
        
        
       
       
       
       
       
       
       
       
        <div class="col-lg-6 col-sm-6">
        <div class="introduced-inner-box" style="background-color: #00c195;">
       
       
       
        </div>
        </div>
        </div>
        </div>
        </div>
        <!-- <div class="col-lg-6 col-md-12"> -->
        <!-- <div class="get-introduced-image"></div> -->
        <!-- </div> -->
        </div>
        </div>
       
        
</body>
<%- include('../layouts/footer') %>

</html>