<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="/assets/css/boxicons.min.css">
    
    <link rel="stylesheet" href="/assets/css/magnific-popup.min.css">
    
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
    
    <link rel="stylesheet" href="/assets/css/nice-select.min.css">
    
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    
    <link rel="stylesheet" href="/assets/css/dark.css">
    
    <link rel="stylesheet" href="/assets/css/style.css">
    
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <title>Ayodhya Land & Property</title>
    <link rel="icon" type="image/png" href="/assets/img/property_logo.png">
    <link href="/toastValidation/toasteur-default.min.css" rel="stylesheet"/>
    <script src="/toastValidation/toasteur.min.js"></script>
    </head>