<footer>
  <footer class="main-footer">
    <div class="pull-right hidden-xs">AdminPix</div>
    <strong>Copyright &copy; 2018</strong> All rights reserved. <i class="fa fa-heart color-green"></i>
   </footer>
    <div class="clearfix"></div>
</footer>
 <!-- START CORE PLUGINS -->
 <script src="/admin-assets/plugins/jQuery/jquery-1.12.4.min.js"></script>
 <script src="/admin-assets/plugins/jquery-ui-1.12.1/jquery-ui.min.js"></script>
 <script src="/admin-assets/bootstrap/js/bootstrap.min.js"></script>
 <script src="/admin-assets/plugins/metisMenu/metisMenu.min.js"></script>
 <script src="/admin-assets/plugins/lobipanel/lobipanel.min.js"></script>
 <script src="/admin-assets/plugins/fastclick/fastclick.min.js"></script>
 <script src="/admin-assets/plugins/slimScroll/jquery.slimscroll.min.js"></script>
 <!-- sparkline Js -->
 <script src="/admin-assets/plugins/sparkline/sparkline.min.js"></script>
 <!-- counterup Js -->
 <script src="/admin-assets/plugins/counterup/jquery.counterup.min.js"></script>
 <script src="/admin-assets/plugins/counterup/waypoints.js"></script>
 <!-- emojionearea Js -->
 <script src="/admin-assets/plugins/emojionearea/emojionearea.min.js"></script>
 <script src="/admin-assets/plugins/monthly/monthly.min.js"></script>
 <!-- amcharts Js -->
 <script src="/admin-assets/plugins/amcharts/amcharts.js"></script>
 <script src="/admin-assets/plugins/amcharts/ammap.js"></script>
 <script src="/admin-assets/plugins/amcharts/worldLow.js"></script>
 <script src="/admin-assets/plugins/amcharts/serial.js"></script>
 <script src="/admin-assets/plugins/amcharts/light.js"></script>
 <script src="/admin-assets/plugins/amcharts/pie.js"></script>
 <!-- START THEME LABEL SCRIPT -->
 <script src="/admin-assets/dist/js/page/dashboard.js"></script>
 <script src="/admin-assets/dist/js/theme.js"></script>
 
<!-- jQuery -->
<!--<script src="/admin-assets/vendors/jquery/dist/jquery.min.js"></script>-->
<script src="/admin-assets/dist/js/jquery.validate.js"></script>
<!-- Bootstrap -->
<script src="/admin-assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Sweetalert -->
<link href="/admin-assets/vendors/bootstrap-sweetalert-master/dist/sweetalert.css" rel="stylesheet">
<script src="/admin-assets/vendors/bootstrap-sweetalert-master/dist/sweetalert.js"></script>
<script src="/admin-assets/vendors/bootstrap-sweetalert-master/dist/sweetalert.min.js"></script>

<!-- FastClick -->
<!--<script src="/admin-assets/vendors/fastclick/lib/fastclick.js"></script>-->
<!-- NProgress -->
<!--<script src="/admin-assets/vendors/nprogress/nprogress.js"></script>-->
<!-- Chart.js -->
<!--<script src="/admin-assets/vendors/Chart.js/dist/Chart.min.js"></script>-->
<!-- gauge.js -->
<!--<script src="/admin-assets/vendors/gauge.js/dist/gauge.min.js"></script>-->
<!-- bootstrap-progressbar -->
<!--<script src="/admin-assets/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>-->

<!--<script src="/admin-assets/vendors/iCheck/icheck.min.js"></script>
<script src="/admin-assets/vendors/skycons/skycons.js"></script>
<script src="/admin-assets/vendors/Flot/jquery.flot.js"></script>
<script src="/admin-assets/vendors/Flot/jquery.flot.pie.js"></script>
<script src="/admin-assets/vendors/Flot/jquery.flot.time.js"></script>
<script src="/admin-assets/vendors/Flot/jquery.flot.stack.js"></script>
<script src="/admin-assets/vendors/Flot/jquery.flot.resize.js"></script>
<script src="/admin-assets/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
<script src="/admin-assets/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
<script src="/admin-assets/vendors/flot.curvedlines/curvedLines.js"></script>
<script src="/admin-assets/vendors/DateJS/build/date.js"></script>
<script src="/admin-assets/vendors/jqvmap/dist/jquery.vmap.js"></script>
<script src="/admin-assets/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
<script src="/admin-assets/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>-->
<!-- bootstrap-daterangepicker -->
<script src="/admin-assets/vendors/moment/min/moment.min.js"></script>
<script src="/admin-assets/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

<!--
<script src="/admin-assets/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/admin-assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="/admin-assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/admin-assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="/admin-assets/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="/admin-assets/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/admin-assets/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/admin-assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="/admin-assets/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="/admin-assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/admin-assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="/admin-assets/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script src="/admin-assets/vendors/jszip/dist/jszip.min.js"></script>
<script src="/admin-assets/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="/admin-assets/vendors/pdfmake/build/vfs_fonts.js"></script>


<script src="/admin-assets/build/js/custom.min.js"></script>
-->