<aside class="main-sidebar">
  <!-- sidebar -->
    <div class="sidebar">
      <!-- sidebar menu -->
        <ul class="sidebar-menu">
            <li class="treeview active">
                <a href="/admin/dashboard">
                  <i class="ti-home"></i><span>Dashboard</span>
                </a>
            </li>



            <li class="treeview">
                <a href="#">
                    <i class="ti-user"></i> <span> Users </span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            
                <ul class="treeview-menu">
                    <li><a href="/admin/users/user">User List</a></li>
                    <li><a href="/admin/users/admin">Admin</a></li>
                </ul>
            </li>


            <li class="treeview">
                <a href="#">
                    <i class="ti-clipboard"></i> <span> Masters </span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            
                <ul class="treeview-menu">
                    <li><a href="/admin/land-category">Add Land Category</a></li>
                </ul>
                <ul class="treeview-menu">
                    <li><a href="/admin/property-size">Add Property Size</a></li>
                </ul>
                <ul class="treeview-menu">
                    <li><a href="/admin/reserve-category">Add Reserve Category</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="ti-notepad"></i> <span> Schemes </span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            
                <ul class="treeview-menu">
                    <li><a href="/admin/scheme">All Schemes</a></li>
                </ul>
                <ul class="treeview-menu">
                    <li><a href="/admin/scheme-payment-add">Schemes payment</a></li>
                </ul>
            </li>
          <!--   <li class="treeview">
                <a href="#">
                    <i class="ti-notepad"></i> <span> Token Master </span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            
                <ul class="treeview-menu">
                    <li><a href="/admin/token/token">Token List</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="ti-layout-grid3"></i> <span> Order Master </span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            
                <ul class="treeview-menu">
                    <li><a href="/admin/users/user">Order List</a></li>
                </ul>
            </li>
             -->
            
           
            <!-- <li class="treeview">
                <a href="#">
                    <i class="ti-agenda"></i> <span> Product Master</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            
                <ul class="treeview-menu">
                    <li><a href="/admin/masters/department/add"></a>Add Product</li>
                    <li><a href="/admin/masters/designation/add">Designations</a></li>
                    <li><a href="/admin/masters/company/add">Company</a></li>
                    <li><a href="/admin/masters/role/add">Role</a></li>
                    <li><a href="/admin/masters/category/add">Category</a></li>
                    <li><a href="/admin/masters/dance/add">Dance</a></li>
                    <li><a href="/admin/masters/dress/add">Dress</a></li>
                    <li><a href="/admin/masters/food/add">Food</a></li>
                    <li><a href="/admin/masters/instrument/add">Instrument</a></li>
                    <li><a href="/admin/masters/occasions/add">Occasions/Event</a></li>
                </ul>
            </li> -->

            <!-- <li class="treeview">
                <a href="#">
                    <i class="ti-clipboard"></i> <span> Modules </span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            
                <ul class="treeview-menu">
                    <li><a href="/admin/mod/module/add">Module List</a></li>
                    <li><a href="/admin/mod/menu/add">Module Menu</a></li>
                    <li><a href="/admin/mod/assignment/add">Module Menu Assignment</a></li>
                </ul>
            </li>


            <li><a href="/admin/tribe"><i class="ti-shield"></i><span>Tribe</span></a></li>

            <li class="treeview">
                <a href="#">
                    <i class="ti-notepad"></i> <span> Settings </span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/settings/general">General Settings</a></li>
                    <li><a href="/admin/settings/email">Email Setting</a></li>
                    <li><a href="/admin/settings/sms">SMS Setting</a></li>
                    <li><a href="/admin/settings/seo">SEO Settings</a></li>
                </ul>
            </li>

            <li><a href="/admin/backup/backup"><i class="ti-layout-grid3"></i><span>Backup & Recovery</span></a></li>

            <li><a href="/admin/mailbox/mailbox"><i class="ti-email"></i><span>Mailbox</span></a></li>

            <li><a href="/admin/calender/calender"><i class="fa fa-calendar"></i>Calender</a></li>

            <li class="treeview">
                <a href="#">
                    <i class="ti-clipboard"></i> <span> Extra </span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            
                <ul class="treeview-menu">
                    <li><a href="/admin/extra/feedback-list">Feedback List</a></li>
                   
                </ul>
            </li> -->
      </ul>
  </div> <!-- /.sidebar -->
</aside>